accelerate==0.26.1 ; python_version >= "3.10" and python_version < "3.13"
aiohttp==3.9.1 ; python_version >= "3.10" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
alembic==1.13.1 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.2.0 ; python_version >= "3.10" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.13"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.13"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "3.13"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
arviz==0.17.0 ; python_version >= "3.10" and python_version < "3.13"
asttokens==2.4.1 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.13"
autoimpute==0.13.0 ; python_version >= "3.10" and python_version < "3.13"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.13"
bleach==6.1.0 ; python_version >= "3.10" and python_version < "3.13"
boto3-stubs[essential]==1.34.17 ; python_version >= "3.10" and python_version < "3.13"
boto3==1.34.17 ; python_version >= "3.10" and python_version < "3.13"
botocore-stubs==1.34.17 ; python_version >= "3.10" and python_version < "3.13"
botocore==1.34.17 ; python_version >= "3.10" and python_version < "3.13"
cachetools==5.3.2 ; python_version >= "3.10" and python_version < "3.13"
category-encoders==2.6.3 ; python_version >= "3.10" and python_version < "3.13"
cdt==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13"
colorlog==6.8.0 ; python_version >= "3.10" and python_version < "3.13"
comm==0.2.1 ; python_version >= "3.10" and python_version < "3.13"
commonmark==0.9.1 ; python_version >= "3.10" and python_version < "3.13"
cons==0.4.6 ; python_version >= "3.10" and python_version < "3.13"
contourpy==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
country-converter==1.2 ; python_version >= "3.10" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
cython==3.0.8 ; python_version >= "3.10" and python_version < "3.13"
datasets==2.14.4 ; python_version >= "3.10" and python_version < "3.13"
debugpy==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.13"
dill==0.3.7 ; python_version >= "3.10" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.13"
dnspython==2.4.2 ; python_version >= "3.10" and python_version < "3.13"
docker-pycreds==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "3.13"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
etuples==0.3.9 ; python_version >= "3.10" and python_version < "3.13"
evaluate==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "3.13"
faiss-cpu==1.7.4 ; python_version >= "3.10" and python_version < "3.13"
fastjsonschema==2.19.1 ; python_version >= "3.10" and python_version < "3.13"
fastprogress==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "3.13"
fonttools==4.47.2 ; python_version >= "3.10" and python_version < "3.13"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2023.12.2 ; python_version >= "3.10" and python_version < "3.13"
fsspec[http]==2023.12.2 ; python_version >= "3.10" and python_version < "3.13"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "3.13"
gitpython==3.1.41 ; python_version >= "3.10" and python_version < "3.13"
gputil==1.4.0 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.0.3 ; platform_machine == "aarch64" and python_version >= "3.10" and python_version < "3.13" or platform_machine == "ppc64le" and python_version >= "3.10" and python_version < "3.13" or platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13" or platform_machine == "amd64" and python_version >= "3.10" and python_version < "3.13" or platform_machine == "AMD64" and python_version >= "3.10" and python_version < "3.13" or platform_machine == "win32" and python_version >= "3.10" and python_version < "3.13" or platform_machine == "WIN32" and python_version >= "3.10" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.13"
h5netcdf==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
h5py==3.10.0 ; python_version >= "3.10" and python_version < "3.13"
hdbscan==0.8.31 ; python_version >= "3.10" and python_version < "3.13"
httpcore==1.0.2 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.26.0 ; python_version >= "3.10" and python_version < "3.13"
huggingface-hub==0.20.2 ; python_version >= "3.10" and python_version < "3.13"
idna==3.6 ; python_version >= "3.10" and python_version < "3.13"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
ipykernel==6.28.0 ; python_version >= "3.10" and python_version < "3.13"
ipython-genutils==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
ipython==8.20.0 ; python_version >= "3.10" and python_version < "3.13"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.13"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "3.13"
jsonlines==3.1.0 ; python_version >= "3.10" and python_version < "3.13"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.13"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.13"
jsonschema==4.20.0 ; python_version >= "3.10" and python_version < "3.13"
jsonschema[format-nongpl]==4.20.0 ; python_version >= "3.10" and python_version < "3.13"
jupyter-client==7.4.9 ; python_version >= "3.10" and python_version < "3.13"
jupyter-core==5.7.1 ; python_version >= "3.10" and python_version < "3.13"
jupyter-events==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
jupyter-server-terminals==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
jupyter-server==2.12.4 ; python_version >= "3.10" and python_version < "3.13"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.13"
kmedoids==0.4.3 ; python_version >= "3.10" and python_version < "3.13"
lightgbm==3.3.5 ; python_version >= "3.10" and python_version < "3.13"
linktransformer==0.1.12 ; python_version >= "3.10" and python_version < "3.13"
llvmlite==0.39.1 ; python_version >= "3.10" and python_version < "3.13"
logical-unification==0.4.6 ; python_version >= "3.10" and python_version < "3.13"
loguru==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
mako==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
mapie==0.5.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.8.2 ; python_version >= "3.10" and python_version < "3.13"
minikanren==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
missingno==0.5.2 ; python_version >= "3.10" and python_version < "3.13"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.13"
multipledispatch==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
multiprocess==0.70.15 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-cloudformation==1.34.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-dynamodb==1.34.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-ec2==1.34.17 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-lambda==1.34.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-rds==1.34.6 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-s3==1.34.14 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-sqs==1.34.0 ; python_version >= "3.10" and python_version < "3.13"
nbclassic==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
nbclient==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
nbconvert==7.14.1 ; python_version >= "3.10" and python_version < "3.13"
nbformat==5.9.2 ; python_version >= "3.10" and python_version < "3.13"
nest-asyncio==1.5.8 ; python_version >= "3.10" and python_version < "3.13"
networkx==3.2.1 ; python_version >= "3.10" and python_version < "3.13"
nltk==3.8.1 ; python_version >= "3.10" and python_version < "3.13"
notebook-shim==0.2.3 ; python_version >= "3.10" and python_version < "3.13"
notebook==6.5.6 ; python_version >= "3.10" and python_version < "3.13"
numba==0.56.4 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.23.5 ; python_version >= "3.10" and python_version < "3.13"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-nccl-cu12==2.18.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-nvjitlink-cu12==12.3.101 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
openai==1.7.1 ; python_version >= "3.10" and python_version < "3.13"
openpyxl==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
optuna==3.5.0 ; python_version >= "3.10" and python_version < "3.13"
overrides==7.4.0 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.13"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.13"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.13"
patsy==0.5.6 ; python_version >= "3.10" and python_version < "3.13"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32"
pillow==10.2.0 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
pluggy==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
pmdarima==2.0.4 ; python_version >= "3.10" and python_version < "3.13"
prometheus-client==0.19.0 ; python_version >= "3.10" and python_version < "3.13"
prompt-toolkit==3.0.43 ; python_version >= "3.10" and python_version < "3.13"
protobuf==4.25.2 ; python_version >= "3.10" and python_version < "3.13"
psutil==5.9.7 ; python_version >= "3.10" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.13" and os_name != "nt" or python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.13"
py-cpuinfo==9.0.0 ; python_version >= "3.10" and python_version < "3.13"
py==1.11.0 ; python_version >= "3.10" and python_version < "3.13" and implementation_name == "pypy"
pyarrow==14.0.2 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.14.6 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.5.3 ; python_version >= "3.10" and python_version < "3.13"
pydot==1.4.2 ; python_version >= "3.10" and python_version < "3.13"
pyfiglet==0.8.post1 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "3.13"
pymc==5.9.2 ; python_version >= "3.10" and python_version < "3.13"
pymongo==4.6.1 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
pytensor==2.17.1 ; python_version >= "3.10" and python_version < "3.13"
pytest==7.4.4 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==0.21.1 ; python_version >= "3.10" and python_version < "3.13"
python-fire==0.1.0 ; python_version >= "3.10" and python_version < "3.13"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.13"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.13"
pywinpty==2.0.12 ; python_version >= "3.10" and python_version < "3.13" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.13"
pyzmq==24.0.1 ; python_version >= "3.10" and python_version < "3.13"
referencing==0.32.1 ; python_version >= "3.10" and python_version < "3.13"
regex==2023.12.25 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
responses==0.18.0 ; python_version >= "3.10" and python_version < "3.13"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.13"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.13"
rich==12.6.0 ; python_version >= "3.10" and python_version < "3.13"
rpds-py==0.16.2 ; python_version >= "3.10" and python_version < "3.13"
s3transfer==0.10.0 ; python_version >= "3.10" and python_version < "3.13"
safetensors==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
scikit-learn==1.3.2 ; python_version >= "3.10" and python_version < "3.13"
scipy==1.11.4 ; python_version >= "3.10" and python_version < "3.13"
seaborn==0.12.2 ; python_version >= "3.10" and python_version < "3.13"
send2trash==1.8.2 ; python_version >= "3.10" and python_version < "3.13"
sentence-transformers==2.2.2 ; python_version >= "3.10" and python_version < "3.13"
sentencepiece==0.1.99 ; python_version >= "3.10" and python_version < "3.13"
sentry-sdk==1.39.2 ; python_version >= "3.10" and python_version < "3.13"
setproctitle==1.3.3 ; python_version >= "3.10" and python_version < "3.13"
setuptools==69.0.3 ; python_version >= "3.10" and python_version < "3.13"
shap==0.41.0 ; python_version >= "3.10" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
skrebate==0.62 ; python_version >= "3.10" and python_version < "3.13"
slicer==0.0.7 ; python_version >= "3.10" and python_version < "3.13"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.25 ; python_version >= "3.10" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.13"
statsmodels==0.13.5 ; python_version >= "3.10" and python_version < "3.13"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.13"
terminado==0.18.0 ; python_version >= "3.10" and python_version < "3.13"
textdistance==4.6.1 ; python_version >= "3.10" and python_version < "3.13"
threadpoolctl==3.2.0 ; python_version >= "3.10" and python_version < "3.13"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
tokenizers==0.15.0 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.13"
torch==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
torchvision==0.16.2 ; python_version >= "3.10" and python_version < "3.13"
tornado==6.4 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.13"
traitlets==5.14.1 ; python_version >= "3.10" and python_version < "3.13"
transformers==4.36.2 ; python_version >= "3.10" and python_version < "3.13"
triton==2.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.13"
typer[all]==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
types-awscrt==0.20.0 ; python_version >= "3.10" and python_version < "3.13"
types-python-dateutil==2.8.19.20240106 ; python_version >= "3.10" and python_version < "3.13"
types-s3transfer==0.10.0 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "3.13"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
wandb==0.16.2 ; python_version >= "3.10" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.13"
webcolors==1.13 ; python_version >= "3.10" and python_version < "3.13"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
websocket-client==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
wheel==0.42.0 ; python_version >= "3.10" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
xarray-einstats==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
xarray==2023.12.0 ; python_version >= "3.10" and python_version < "3.13"
xgboost==1.7.6 ; python_version >= "3.10" and python_version < "3.13"
xxhash==3.4.1 ; python_version >= "3.10" and python_version < "3.13"
yapf==0.32.0 ; python_version >= "3.10" and python_version < "3.13"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "3.13"
