alembic==1.11.1 ; python_version >= "3.10" and python_version < "3.13"
anyio==3.7.1 ; python_version >= "3.10" and python_version < "3.13"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Darwin" or sys_platform == "darwin")
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.13"
argon2-cffi==21.3.0 ; python_version >= "3.10" and python_version < "3.13"
arrow==1.2.3 ; python_version >= "3.10" and python_version < "3.13"
arviz==0.15.1 ; python_version >= "3.10" and python_version < "3.13"
asttokens==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.13"
autoimpute==0.13.0 ; python_version >= "3.10" and python_version < "3.13"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.13"
bleach==6.0.0 ; python_version >= "3.10" and python_version < "3.13"
boto3-stubs[essential]==1.28.2 ; python_version >= "3.10" and python_version < "3.13"
boto3==1.28.2 ; python_version >= "3.10" and python_version < "3.13"
botocore-stubs==1.29.165 ; python_version >= "3.10" and python_version < "3.13"
botocore==1.31.2 ; python_version >= "3.10" and python_version < "3.13"
cachetools==5.3.1 ; python_version >= "3.10" and python_version < "3.13"
category-encoders==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
cdt==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
certifi==2023.5.7 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.4 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
cmaes==0.9.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
colorlog==6.7.0 ; python_version >= "3.10" and python_version < "3.13"
comm==0.1.3 ; python_version >= "3.10" and python_version < "3.13"
commonmark==0.9.1 ; python_version >= "3.10" and python_version < "3.13"
cons==0.4.6 ; python_version >= "3.10" and python_version < "3.13"
contourpy==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.13"
cython==0.29.36 ; python_version >= "3.10" and python_version < "3.13"
debugpy==1.6.7 ; python_version >= "3.10" and python_version < "3.13"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.13"
dnspython==2.3.0 ; python_version >= "3.10" and python_version < "3.13"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
etuples==0.3.9 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.1.2 ; python_version >= "3.10" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
fastjsonschema==2.17.1 ; python_version >= "3.10" and python_version < "3.13"
fastprogress==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
filelock==3.12.2 ; python_version >= "3.10" and python_version < "3.13"
fonttools==4.40.0 ; python_version >= "3.10" and python_version < "3.13"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.13"
gputil==1.4.0 ; python_version >= "3.10" and python_version < "3.13"
graphviz==0.20.1 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.0.0a1 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
h5netcdf==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
h5py==3.9.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.4 ; python_version >= "3.10" and python_version < "3.13"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
ipykernel==6.24.0 ; python_version >= "3.10" and python_version < "3.13"
ipython-genutils==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
ipython==8.14.0 ; python_version >= "3.10" and python_version < "3.13"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.13"
jedi==0.18.2 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
joblib==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
jsonlines==3.1.0 ; python_version >= "3.10" and python_version < "3.13"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.13"
jsonschema-specifications==2023.6.1 ; python_version >= "3.10" and python_version < "3.13"
jsonschema==4.18.2 ; python_version >= "3.10" and python_version < "3.13"
jsonschema[format-nongpl]==4.18.2 ; python_version >= "3.10" and python_version < "3.13"
jupyter-client==8.3.0 ; python_version >= "3.10" and python_version < "3.13"
jupyter-core==5.3.1 ; python_version >= "3.10" and python_version < "3.13"
jupyter-events==0.6.3 ; python_version >= "3.10" and python_version < "3.13"
jupyter-server-terminals==0.4.4 ; python_version >= "3.10" and python_version < "3.13"
jupyter-server==2.7.0 ; python_version >= "3.10" and python_version < "3.13"
jupyterlab-pygments==0.2.2 ; python_version >= "3.10" and python_version < "3.13"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "3.13"
kmedoids==0.4.3 ; python_version >= "3.10" and python_version < "3.13"
lightgbm==3.3.5 ; python_version >= "3.10" and python_version < "3.13"
llvmlite==0.39.1 ; python_version >= "3.10" and python_version < "3.13"
logical-unification==0.4.6 ; python_version >= "3.10" and python_version < "3.13"
loguru==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
mako==1.2.4 ; python_version >= "3.10" and python_version < "3.13"
mapie==0.5.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.7.2 ; python_version >= "3.10" and python_version < "3.13"
minikanren==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
missingno==0.5.2 ; python_version >= "3.10" and python_version < "3.13"
mistune==3.0.1 ; python_version >= "3.10" and python_version < "3.13"
multipledispatch==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-cloudformation==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-dynamodb==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-ec2==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-lambda==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-rds==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-s3==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-boto3-sqs==1.28.0 ; python_version >= "3.10" and python_version < "3.13"
nbclassic==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
nbclient==0.8.0 ; python_version >= "3.10" and python_version < "3.13"
nbconvert==7.6.0 ; python_version >= "3.10" and python_version < "3.13"
nbformat==5.9.1 ; python_version >= "3.10" and python_version < "3.13"
nest-asyncio==1.5.6 ; python_version >= "3.10" and python_version < "3.13"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.13"
notebook-shim==0.2.3 ; python_version >= "3.10" and python_version < "3.13"
notebook==6.5.4 ; python_version >= "3.10" and python_version < "3.13"
numba==0.56.4 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.23.5 ; python_version >= "3.10" and python_version < "3.13"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Linux"
openpyxl==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.13"
optuna==3.2.0 ; python_version >= "3.10" and python_version < "3.13"
overrides==7.3.1 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.13"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.13"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.13"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.13"
patsy==0.5.3 ; python_version >= "3.10" and python_version < "3.13"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32"
pgmpy==0.1.23 ; python_version >= "3.10" and python_version < "3.13"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.13"
pillow==10.0.0 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==3.8.1 ; python_version >= "3.10" and python_version < "3.13"
pluggy==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
pmdarima==2.0.3 ; python_version >= "3.10" and python_version < "3.13"
prometheus-client==0.17.1 ; python_version >= "3.10" and python_version < "3.13"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "3.13"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.13" and (os_name != "nt" or sys_platform != "win32")
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.13"
py-cpuinfo==9.0.0 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.13"
pydot==1.4.2 ; python_version >= "3.10" and python_version < "3.13"
pyfiglet==0.8.post1 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.15.1 ; python_version >= "3.10" and python_version < "3.13"
pygraphviz==1.11 ; python_version >= "3.10" and python_version < "3.13"
pymc==5.6.0 ; python_version >= "3.10" and python_version < "3.13"
pymongo==4.4.0 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.13"
pytensor==2.12.3 ; python_version >= "3.10" and python_version < "3.13"
pytest==7.4.0 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==0.21.1 ; python_version >= "3.10" and python_version < "3.13"
python-fire==0.1.0 ; python_version >= "3.10" and python_version < "3.13"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
pytz==2023.3 ; python_version >= "3.10" and python_version < "3.13"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.13"
pywinpty==2.0.10 ; python_version >= "3.10" and python_version < "3.13" and os_name == "nt"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "3.13"
pyzmq==25.1.0 ; python_version >= "3.10" and python_version < "3.13"
referencing==0.29.1 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.13"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.13"
rich==12.6.0 ; python_version >= "3.10" and python_version < "3.13"
rpds-py==0.8.10 ; python_version >= "3.10" and python_version < "3.13"
s3transfer==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
scikit-learn==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
scipy==1.11.1 ; python_version >= "3.10" and python_version < "3.13"
seaborn==0.12.2 ; python_version >= "3.10" and python_version < "3.13"
send2trash==1.8.2 ; python_version >= "3.10" and python_version < "3.13"
setuptools==68.0.0 ; python_version >= "3.10" and python_version < "3.13"
shap==0.41.0 ; python_version >= "3.10" and python_version < "3.13"
shellingham==1.5.0.post1 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
skrebate==0.62 ; python_version >= "3.10" and python_version < "3.13"
slicer==0.0.7 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
soupsieve==2.4.1 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.18 ; python_version >= "3.10" and python_version < "3.13"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "3.13"
statsmodels==0.13.5 ; python_version >= "3.10" and python_version < "3.13"
terminado==0.17.1 ; python_version >= "3.10" and python_version < "3.13"
textdistance==4.5.0 ; python_version >= "3.10" and python_version < "3.13"
threadpoolctl==3.1.0 ; python_version >= "3.10" and python_version < "3.13"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.13"
torch==1.13.1 ; python_version >= "3.10" and python_version < "3.13"
tornado==6.3.2 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.65.0 ; python_version >= "3.10" and python_version < "3.13"
traitlets==5.9.0 ; python_version >= "3.10" and python_version < "3.13"
typer[all]==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
types-awscrt==0.16.23 ; python_version >= "3.10" and python_version < "3.13"
types-s3transfer==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.13"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
urllib3==1.26.16 ; python_version >= "3.10" and python_version < "3.13"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "3.13"
webcolors==1.13 ; python_version >= "3.10" and python_version < "3.13"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
websocket-client==1.6.1 ; python_version >= "3.10" and python_version < "3.13"
wheel==0.40.0 ; python_version >= "3.10" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
xarray-einstats==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
xarray==2023.6.0 ; python_version >= "3.10" and python_version < "3.13"
xgboost==1.7.6 ; python_version >= "3.10" and python_version < "3.13"
yapf==0.32.0 ; python_version >= "3.10" and python_version < "3.13"
optuna-dashboard==0.13.0 ; python_version >= "3.10" and python_version < "3.13"